@charset "UTF-8";
.main h2 {
  font-size: 5.556vw;
  font-weight: 700;
  line-height: 6.667vw;
  color: #31383F;
}

.main .main_top {
  height: 108.333vw;
  padding: 19.444vw 13.611vw 0;
  background: url(../img/main/main_top_bg.png) no-repeat 0 0/cover;
  color: #fff;
  text-align: center;
}

.main .main_top .t1 {
  font-size: 7.778vw;
  font-weight: 700;
}

.main .main_top .t2 {
  font-size: 6.111vw;
  font-weight: 700;
}

.main .main_top .t3 {
  font-size: 3.889vw;
  font-weight: 500;
}

.main .main_top .search_box {
  width: 100%;
  margin-top: 3.611vw;
  position: relative;
}

.main .main_top .search_box input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 1.944vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.889vw;
  font-weight: 500;
  border: 0 solid #000;
  background: rgba(0, 0, 0, 0.7);
  height: 11.111vw;
}

.main .main_top .search_box .btn_search {
  position: absolute;
  right: 0;
  top: 0;
  width: 11.111vw;
  height: 11.111vw;
  background: #B08C71 url(../img/common/ico_search.svg) no-repeat 50% 50%/4.861vw;
}

.main .main_top .search_box .search_list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 11.1111vw;
  height: 46.0vw;
  padding: 3.889vw;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #B4BECB;
}

.main .main_top .search_box .search_list div {
  color: #112211;
  opacity: 0.75;
  font-size: 3.333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_top .search_box .search_list ul {
  overflow-y: auto;
  margin-top: 2.5vw;
  height: 34vw;
}

.main .main_top .search_box .search_list ul li {
  font-size: 3.611vw;
  color: #171E17;
  margin-bottom: 3.333vw;
  line-height: 3.889vw;
}

.main .change_price {
  padding: 5.278vw 4.444vw 4.722vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .change_price .tag {
  background: #A1ACB7;
  border-radius: 0.556vw;
  font-size: 3.056vw;
  font-weight: 500;
  padding: 1.389vw 1.667vw;
  color: #fff;
  margin-right: 3.333vw;
  line-height: 5.556vw;
}

.main .change_price .txt {
  font-size: 3.889vw;
  color: #212529;
  font-weight: 500;
  -webkit-transform: translateY(1vw);
          transform: translateY(1vw);
}

.main .change_price button {
  position: relative;
  margin-left: auto;
  padding-right: 6.111vw;
}

.main .change_price button .price {
  font-size: 3.611vw;
  font-weight: 500;
  line-height: 3.889vw;
  padding-left: 4.167vw;
}

.main .change_price button .price.down {
  background: url(../img/common/ico_down.svg) no-repeat 0 60%/2.5vw;
  color: #FF5353;
}

.main .change_price button::after {
  content: '';
  display: block;
  width: 3.333vw;
  height: 2.058vw;
  background: url(../img/common/ico_down_arrow2.svg) no-repeat 0 0/cover;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .most_view h2 {
  background: #F5F7FA;
  padding: 5vw;
  color: #000;
  border-top: 1px solid #EDF0F3;
  border-bottom: 1px solid #EDF0F3;
}

.main .most_view > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .most_view > ul > li {
  width: 50%;
  border-top: 1px solid #EDF0F3;
}

.main .most_view > ul > li:nth-child(odd) {
  border-right: 1px solid #EDF0F3;
}

.main .most_view > ul > li:nth-child(-n + 2) {
  border-top: 0 solid #EDF0F3;
}

.main .most_view > ul .top {
  position: relative;
  padding-top: 8.889vw;
}

.main .most_view > ul .top img {
  display: block;
  margin: 0 auto;
  width: 73.333%;
}

.main .most_view > ul .top .info {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.778vw 2.778vw 0;
  color: #fff;
}

.main .most_view > ul .top .info .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #BE9162;
  border-radius: 0.278vw;
  font-size: 2.5vw;
  padding: 0 1.667vw;
  height: 5.556vw;
}

.main .most_view > ul .top .info .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 5.556vw;
  top: 2.778vw;
  right: 8.444vw;
}

.main .most_view > ul .top .info .option img {
  width: 4.044vw;
  margin-right: 2.5vw;
}

.main .most_view > ul .top .info .option img:nth-child(2) {
  width: 4.3vw;
  margin-right: 1.8vw;
}

.main .most_view > ul .top .info .fluctuations {
  position: absolute;
  right: 2.778vw;
  top: 2.778vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.556vw;
  height: 5.556vw;
  border-radius: 0.556vw;
  font-size: 2.5vw;
  font-weight: 500;
}

.main .most_view > ul .top .info .fluctuations.up {
  background: #309D5C;
}

.main .most_view > ul .top .info .fluctuations.down {
  background: #D74C4C;
}

.main .most_view > ul .btm {
  padding: 3.333vw 4.444vw;
}

.main .most_view > ul .btm .watch_name {
  font-size: 3.611vw;
  line-height: 138%;
  font-weight: 500;
  color: #2B3035;
  opacity: 0.6;
  height: 10vw;
  width: 90%;
}

.main .most_view > ul .btm .price {
  margin-top: 2.222vw;
  line-height: 108%;
  font-size: 3.611vw;
  font-weight: 700;
  color: #31383F;
}

.main .most_view > ul .btm ul {
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .most_view > ul .btm ul li {
  font-size: 3.056vw;
  color: #31383F;
  opacity: 0.6;
  font-weight: 500;
}

.main .most_view > ul .btm ul li:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 2.778vw;
  margin: 0 1.667vw;
  background: #A1ACB7;
  opacity: 0.5;
  -webkit-transform: translateY(0.2vw);
          transform: translateY(0.2vw);
}

.main .most_view > ul .btm ul li:last-child {
  width: 100%;
  margin-top: 1.267vw;
}

.main .real_time {
  background: #000;
  text-align: center;
  padding: 20.556vw 0 18.975vw;
  color: #fff;
}

.main .real_time .tit {
  font-size: 6.667vw;
  font-weight: 700;
}

.main .real_time .t1 {
  opacity: 0.8;
  font-size: 4.444vw;
  font-weight: 500;
  line-height: 162%;
  margin-top: 3.056vw;
}

.main .real_time > div {
  margin: 11.667vw 0 0;
}

.main .real_time > div img {
  display: block;
  width: 88%;
  margin: 0 auto;
}

.main .recently_products {
  padding: 12.5vw 5vw 0;
  position: relative;
}

.main .recently_products h2 {
  margin-bottom: 3.333vw;
}

.main .recently_products .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFF;
  border: 1px solid #EDF0F3;
  border-radius: 1.111vw;
  padding: 5.208vw 0 6.531vw;
}

.main .recently_products .swiper-slide .img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42%;
}

.main .recently_products .swiper-slide .img_box img {
  width: 100%;
}

.main .recently_products .swiper-slide .info_box {
  width: 58%;
  padding: 0 4.631vw;
}

.main .recently_products .swiper-slide .info_box .sale {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.786vw;
  background: #BE9162;
  border-radius: 0.278vw;
  padding: 0 1.736vw;
  font-size: 2.5vw;
  color: #fff;
}

.main .recently_products .swiper-slide .info_box .watch_name {
  font-size: 3.611vw;
  font-weight: 500;
  color: #2B3035;
  opacity: 0.6;
  line-height: 138%;
  margin-top: 1.736vw;
}

.main .recently_products .swiper-slide .info_box .price {
  font-size: 3.611vw;
  line-height: 108%;
  font-weight: 700;
  color: #31383F;
  margin-top: 2.314vw;
}

.main .recently_products .swiper-slide .info_box ul {
  margin-top: 4.631vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .recently_products .swiper-slide .info_box ul li {
  font-size: 3.056vw;
  color: #31383F;
  opacity: 0.6;
  font-weight: 500;
}

.main .recently_products .swiper-slide .info_box ul li:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 2.778vw;
  margin: 0 1.667vw;
  background: #A1ACB7;
  opacity: 0.5;
  -webkit-transform: translateY(0.2vw);
          transform: translateY(0.2vw);
}

.main .recently_products .swiper-slide .info_box ul li:last-child {
  width: 100%;
  margin-top: 1.267vw;
}

.main .recently_products .swiper-slide .info_box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.472vw;
}

.main .recently_products .swiper-slide .info_box .option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.556vw;
}

.main .recently_products .swiper-slide .info_box .option img {
  width: 4.214vw;
  margin-right: 3.178vw;
}

.main .recently_products .swiper-slide .info_box .option img:nth-child(2) {
  width: 4.478vw;
  margin-right: 2.392vw;
}

.main .recently_products .swiper-slide .info_box .fluctuations {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.786vw;
  height: 5.786vw;
  border-radius: 0.556vw;
  font-size: 2.5vw;
  font-weight: 500;
  color: #fff;
}

.main .recently_products .swiper-slide .info_box .fluctuations.up {
  background: #309D5C;
}

.main .recently_products .swiper-slide .info_box .fluctuations.down {
  background: #D74C4C;
}

.main .recently_products .swiper-pagination {
  position: absolute;
  right: 5vw;
  top: 12.5vw;
  font-family: Poppins;
}

.main .recently_products .swiper-pagination-bullet {
  width: 4.722vw;
  height: 4.722vw;
  font-size: 4.444vw;
  border-radius: 0;
  line-height: 4.722vw;
  background-color: #fff;
  color: #31383F;
  margin: 0 .5vw;
}

.main .recently_products .swiper-pagination-bullet-active {
  background-color: #000;
  color: #fff;
}

.main .popular_brand {
  padding: 15.231vw 5vw 0;
}

.main .popular_brand ul {
  margin-top: 3.056vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .popular_brand ul li {
  position: relative;
  width: 26.667vw;
  height: 26.667vw;
  margin-top: 5vw;
  padding: 10vw 0 0 3.333vw;
  font-size: 3.889vw;
  font-weight: 500;
  color: #fff;
  background-color: #000;
}

.main .popular_brand ul li:nth-child(-n+3) {
  margin-top: 0;
}

.main .popular_brand ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.main .popular_brand ul li p {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  line-height: 129%;
  letter-spacing: -0.278vw;
}

.main .warranty_deals {
  padding: 13.611vw 5vw 0;
  text-align: center;
}

.main .warranty_deals .tit {
  font-size: 6.667vw;
  font-weight: 700;
  line-height: 142%;
}

.main .warranty_deals .stit {
  font-size: 4.444vw;
  font-weight: 400;
  line-height: 112%;
  margin-top: 2.778vw;
}

.main .warranty_deals dl {
  margin-top: 11.111vw;
}

.main .warranty_deals dl div {
  margin-top: 11.111vw;
}

.main .warranty_deals dl div:nth-child(1) img {
  width: 18.758vw;
}

.main .warranty_deals dl div:nth-child(2) img {
  width: 20.086vw;
}

.main .warranty_deals dl div:nth-child(3) img {
  width: 10.058vw;
}

.main .warranty_deals dl div:nth-child(4) img {
  width: 8.333vw;
}

.main .warranty_deals dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vw;
}

.main .warranty_deals dl dt strong {
  font-weight: 700;
  font-size: 5vw;
  margin-left: 1.5vw;
}

.main .warranty_deals dl b {
  display: block;
  font-size: 4.444vw;
  line-height: 175%;
  font-weight: 400;
}

.main .warranty_deals dl p {
  font-size: 3.333vw;
  line-height: 167%;
}

.main .warranty_deals > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10.278vw;
  width: 100%;
  height: 11.111vw;
  background: #B08C71;
  border-radius: 1.111vw;
  font-size: 4.444vw;
  color: #fff;
  font-weight: 500;
}

.main .boutique {
  margin-top: 19.367vw;
  padding: 0 5vw 6vw;
}

.main .boutique h2 {
  margin-bottom: 8.022vw;
}

.main .boutique .swiper-slide {
  position: relative;
}

.main .boutique .swiper-slide img {
  width: 100%;
}

.main .boutique .swiper-slide p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13.567vw;
  font-size: 5.556vw;
  color: #fff;
  font-weight: 400;
  padding: 0 6.775vw;
  background: rgba(0, 0, 0, 0.8);
}

.main .boutique .boutique_list_paging {
  position: static;
  width: 100%;
}

.main .boutique .boutique_list_paging .swiper-pagination-bullet {
  width: 4.803vw;
  height: 1.772vw;
  border-radius: 0;
  margin: 0 1.111vw;
}

.main .boutique .boutique_list_paging .swiper-pagination-bullet-active {
  background: #31383F;
}

.main .instar_list {
  margin-top: 11.111vw;
  padding: 0 5vw;
}

.main .instar_list ul {
  margin-top: 4.444vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .instar_list ul li {
  position: relative;
  width: 26.667vw;
  height: 26.667vw;
  margin-top: 5vw;
  padding: 10vw 0 0 3.333vw;
  font-size: 3.889vw;
  font-weight: 500;
  color: #fff;
  background-color: #000;
}

.main .instar_list ul li:nth-child(-n+3) {
  margin-top: 0;
}

.main .instar_list ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.main .instar_list > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.222vw;
  width: 100%;
  height: 11.111vw;
  background: #B08C71;
  border-radius: 1.111vw;
  font-size: 4.444vw;
  color: #fff;
  font-weight: 500;
}

.main .movie_list {
  margin-top: 20.556vw;
  padding: 0 5vw 17.500vw;
}

.main .movie_list h2 {
  margin-bottom: 8.333vw;
}

.main .movie_list > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.222vw;
  width: 100%;
  height: 11.111vw;
  background: #B08C71;
  border-radius: 1.111vw;
  font-size: 4.444vw;
  color: #fff;
  font-weight: 500;
}

.main .movie_list .swiper-slide p {
  margin-top: 4.206vw;
  font-size: 4.444vw;
  line-height: 125%;
}

.main .movie_list .youtube_box {
  background: #C4C4C4;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 비율인 경우. 4:3 비율인 경우 75%로 설정합니다 */
  overflow: hidden;
}

.main .movie_list .youtube_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .movie_list .youtube_box::after {
  content: '';
  display: block;
  width: 17.872vw;
  height: 17.872vw;
  background: url(../img/main/youtube_play.svg) no-repeat 0 0/cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* font-size vw */
/*# sourceMappingURL=layout.css.map */